
  div#home {

      header {
        display: flex;
        flex-direction: column;

        .top-menu {
          background-color: $bg-top-header;
          font-size: $font-top-header;
          display: flex;
          justify-content: flex-end;

          ul {
            display: flex;

            li {
              padding: 10px 10px;

              i {
                padding: 0 10px;
              }

              a {
                color: $color-top-header;
              }
            }
          }
        }

        .bottom-menu {

        }
      }

      main {

      }

      footer {

      }

  }