
  div#home {

      header {
        display: flex;
        flex-direction: column;
        background-color: $bg-header;

        .top-menu {
          font-size: $font-top-header;
          display: flex;
          justify-content: flex-end;
          margin-right: 100px;

          ul {
            display: flex;

            li {
              padding: 10px 10px;

              i {
                padding: 0 10px;
                color: $top-header-icons;
              }

              a {
                color: $color-top-header;
              }
            }
          }
        }

        .bottom-menu {
          font-size: $font-bottom-header;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo {
            margin-right: 20px;
          }

          ul {
            display: flex;

            li {
              padding: 10px 15px;

              i {
                padding: 0 5px;
                color: $bottom-header-icons;
                font-size: $font-bottom-header-icons;
              }

              a {
                color: $color-bottom-header;
              }
            }
          }

        }
      }

      main {
        /*debug*/
        /*background-color: yellowgreen;*/

        .jumbotron {
          height: 300px;
          padding: 30px 0;
          background-repeat: no-repeat;
          background-size: cover;
          /*background-image: url(../../dist/img/bg-painter-home.jpg);*/
          /*debug*/
          background-color: yellowgreen;

          .text-box {
            margin-top: 50px;
            margin-left: 100px;

          }


          .jumbo-img {

            img {
              width: 220px;
            }
          }

          h3 {
            font-size: 14px;
            font-weight: 300;
          }
        }

        .painting-container {

          margin: 30px 0;
          text-align: center;

          .box-title-2 {

          }

          .box-top-imgs {
            display: flex;
            justify-content: center;

            .box-1 {
              width: 250px;
              height:270px;
              margin: 15px 10px;
              background-color: red;
            }

            .box-2 {
              width: 250px;
              height:270px;
              margin: 15px 10px;
              background-color: green;
            }

            .box-3 {
              width: 250px;
              height:270px;
              margin: 15px 10px;
              background-color: blue;
            }


          }

        }

      }

      footer {

      }

  }