
  div#home {

      header {
        display: flex;
        flex-direction: column;
        background-color: $bg-header;

        .top-menu {
          font-size: $font-top-header;
          display: flex;
          justify-content: flex-end;
          margin-right: 100px;

          ul {
            display: flex;

            li {
              padding: 10px 10px;

              i {
                padding: 0 10px;
                color: $top-header-icons;
              }

              a {
                color: $color-top-header;
              }
            }
          }
        }

        .bottom-menu {
          font-size: $font-bottom-header;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo {
            margin-right: 20px;
          }

          ul {
            display: flex;

            li {
              padding: 10px 15px;

              i {
                padding: 0 5px;
                color: $bottom-header-icons;
                font-size: $font-bottom-header-icons;
              }

              a {
                color: $color-bottom-header;
              }
            }
          }

        }
      }

      main {

      }

      footer {

      }

  }