
  /* HEADER */
  $bg-header: #101010;

  /* TOP MENU */
  $color-top-header: #4f555f;
  $font-top-header: 10px;
  $top-header-icons: #1792dc;

  /* BOTTOM MENU */
  $font-bottom-header: 12px;
  $color-bottom-header: white;
  $bottom-header-icons: #4f555f;
  $font-bottom-header-icons: 8px;


